
body {
    height: 100%;
    font-family: helvetica;
    box-sizing: border-box;
}
#wrapper {
/* display:flex;
flex-direction: row; */
}

h3 {
    margin-top: 0;
    margin-bottom: 40px;
}

#countSection {
    color: black;
    font-size: 100px;
    height: 50%;
    /* background-color: peachpuff; */
    text-align: center;
    margin-top: 150px;
    margin-bottom: 120px;
    font-weight: bold;
}

#inputSection {
/* background-color: magenta; */
text-align: center;
margin: 40px auto;

}

#plus-btn {
    width: 70px;
    height: 80px;
    background-color: #A9A9A9;
    border-radius: 10%;
    color: white;
    font-size: 50px;
    outline: none;

}

#plus-btn:hover {
    width: 70px;
    height: 80px;
    background-color: white;
    border-radius: 10%;
    color: #A9A9A9;
    font-size: 50px;
    outline: none;
}

#minus-btn {
    width: 70px;
    height: 80px;
    background-color: #A9A9A9;
    border-radius: 10%;
    outline: none;
    color: white;
    font-size: 50px;
}

#minus-btn:hover {
    width: 70px;
    height: 80px;
    background-color: white;
    border-radius: 10%;
    color: #A9A9A9;
    font-size: 50px;
    outline: none;
}

#inputWindow {
    height: 70px;
    border-radius: 10%;
    background-color: white;
    border: solid  #A9A9A9 5px;
    outline: none;
    font-size: 50px;
    width: 100px;
    text-align: center;

}